input, select {
    font-family: inherit;
    font-size: medium;
    padding: 8px;
}

input[type=text],
input[type=password],value
input[type=date] {
    min-width: 200px;
}

input.warning {
    border: 1px solid red;
}

input.green {
    border: 1px solid green;
}

input[type=submit] {
    position: relative;
    display: inline-block;
    font-family: inherit;
    font-size: medium;
    padding: 8px;
    width: 200px;
    margin-right: auto;
    background: #4CAF50;
    color: #fff;
    border: 0;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}

input[type=submit]:disabled {
    opacity: 0.5;
    background: #666;
}
