div.shore.popper {
  position: absolute;
  top: 0;
  left: 100%;
  background: #e53935;
  color: #fff;
  min-width: 200px;
  max-width: 500px;
  padding: 8px 8px;
  box-sizing: border-box;
  margin-left: 32px;
  font-family: Helvetica, Verdana, Arial, Sans-serif;
  border-radius: 0 8px 8px 0;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.30);
  z-index: 1;
}

div.shore.popper div.wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

div.shore.popper div.wrapper p {
  margin: 0;
}

div.shore.popper i.pointer {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #c62828;
  height: 100%;
  width: 24px;
  margin-left: -23px;
  -webkit-clip-path: polygon(0 50%, 100% 100%, 100% 0);
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

label.shore.form-label {
  display: inline-block;
  position: relative;
  margin-bottom: 24px;
  min-width: 300px;
}

span.form-label {
  display: block;
  text-align: right;
  margin-top: 4px;
  color: red;
}

label.shore.form-label span.actual-label{
  display: inline-block;
  margin-right: 8px;
  width: 100px;
  text-align: right;
  font-weight: 900;
}

section.shore.container {
  box-sizing: border-box;
  padding: 16px;
  border: 1px solid #0002;
}

