body {
  background: #616161;
  color: rgba(0,0,0,0.87);
}

.App {
  background: #fff;
  margin: auto;
  box-sizing: border-box;
  padding: 12px 24px 48px 24px;
  width: 100%;
  max-width: 1000px;
  margin: 72px auto;
}